.container{
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    padding: 10px 30px 10px;

}

.form{
    display: flex;
    flex-direction: column;

}